<article id="test">
    <h1>OUR MENU</h1>
    <div>
        <div class='dish-img-left dish'>
            <img src="img/3_section_our_menu/Png/R1.png" alt="">
            <div>
                <div class="menu-name">Tonkotsu Rahmen</div>
                <div class="menu-options">
                    <div class="menu-component">
                        <div class="component">CHICKEN</div>
                        <div class="price">11.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">BEEF</div>
                        <div class="price">12.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">SHRIMP</div>
                        <div class="price">13.95 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='dish-img-right dish'>
            
            <div>
                <div class="menu-name">Tonkotsu Rahmen</div>
                <div class="menu-options">
                    <div class="menu-component">
                        <div class="component">CHICKEN</div>
                        <div class="price">11.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">BEEF</div>
                        <div class="price">12.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">SHRIMP</div>
                        <div class="price">13.95 €</div>
                    </div>
                </div>
            </div>
            <img src="img/3_section_our_menu/Png/R2.png" alt="">
        </div>
        <div class='dish-img-left dish'>
            <img src="img/3_section_our_menu/Png/R3.png" alt="">
            <div>
                <div class="menu-name">Tonkotsu Rahmen</div>
                <div class="menu-options">
                    <div class="menu-component">
                        <div class="component">CHICKEN</div>
                        <div class="price">11.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">BEEF</div>
                        <div class="price">12.95 €</div>
                    </div>
                    <div class="menu-component">
                        <div class="component">SHRIMP</div>
                        <div class="price">13.95 €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
