<article>
    <h1>HOW TO ORDER</h1>
    <div>
        <div>
            <img class="image" src="/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <div>Pick your <br> noodle</div>
        </div>
        <div>
            <img class="image" src="/img/2_section_how_to_order/PNG/broth.png" alt="">
            <div>Pick your <br> broth</div>
        </div>
        <div>
            <img class="image" src="/img/2_section_how_to_order/PNG/egg.png" alt="">
            <div>Add your <br> toppings</div>
        </div>
    </div>
</article>
